$teal: #008080;
$dark-teal: #4d6a6d;
$light-teal: #4d6a6d;
$soft-gray: #c5c5c5;
$muted-green: #949b96;
$light-gray-green: #829191;
$dark-gray-green: #4c5b61;
$light-gray: #d3d3d3;
$dark-gray: #333333;
$white: #ffffff;

$border-radius: 8px;
$padding: 20px;
